body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 65vh;
  overflow: hidden;
}

.mountainDetails{
  position: relative;
  min-height: 300px;
}

.mountainDetails::after{
  content: "";
  background-image: url("https://freepngimg.com/thumb/mountains/33431-5-mountains-free-download.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}
